body{
    background-color: #f4f6f8;
    color: #333;
    padding: 20px;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bf5c1f;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 20px 5px rgba(0, 0, 0, 0);
    margin-bottom: 25px;
}

.ChatNotificacoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:8px 16px;
    border: none;
    border-radius: 6px;
    background-color: #2563eb;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.ChatNotificacoes button:hover {
    background-color: #1d4ed8;
}

.botaoescanear button{
    display: flex;
    width: 100%;
}